:root {
  --color-canvas-default: #0d1117;

  background-color: var(--color-canvas-default);
}

#root {
  --color-selected-temperature: transparent;

  transition: background-color 1000ms linear;
  background-color: var(--color-selected-temperature);
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.App {
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
}

.infoDrawer {
  text-align: right;
}

.colorSelect {
  flex-grow: 1;
  align-items: flex-end;
}

.colorSwatch {
  cursor: pointer;
}

.onOff {
  color: #fff;
}
